
@keyframes fadeAnimation {
    from {
        background: #012345;
    }    
    to {
        background: #56789A;
    }
}      
@-webkit-keyframes fadeAnimation {
    from {
        background: #012345;                
    }    
    to {
        background: #56789A;
    }
}      
@keyframes errorAnimation {
    from {
        background: #789ABC;
    }    
    to {
        background: #FF0000;
    }
}      
@-webkit-keyframes errorAnimation {
    from {
        background: #789ABC;                
    }    
    to {
        background: #FF0000;
    }
}      
.runtime {
    padding: 10px;        
    background: #123456;
    color: #FFFFFF;

}
.errorFadeIn {
    -webkit-animation-name: errorAnimation;
    -webkit-animation-duration: 2s;
    animation-name: errorAnimation;
    animation-duration: 2s;        
}      
.fadeIn {
    -webkit-animation-name: fadeAnimation;
    -webkit-animation-duration: 1s;
    animation-name: fadeAnimation;
    animation-duration: 1s;        
}      
.header {
    margin-top: 10px;
    padding: 10px;          
    background: #123456;
    color: #FFFFFF;  
}
.footer {
    margin-bottom: 10px;
    padding: 10px;          
    background: #56789A;
    color: #FFFFFF;  
}
.success {
    display: none;
    padding: 10px;          
    background: #789ABC;
    color: #FFFFFF;  
}
.failure {
    padding: 10px;          
    color: #FFFFFF;
    background: #FF0000;
}
.sourcecode {
    padding: 10px;
    color: #123456;
    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
	            0 25px 50px 0 rgba(0, 0, 0, 0.1);
}
pre {
    margin: 1px 1px 1px 1px
}
