    @keyframes displayHW {
        from {
          color: #123456;
        }    
        to {
          color: #FFFFFF;
        }
    }      
    @-webkit-keyframes displayHW {
        from {
          color: #123456;
        }    
        to {
          color: #FFFFFF;
        }
    }      
    .runtime {
        padding: 10px;        
        background: #123456;
        color: #FFFFFF;
        
    }
    .fadeIn {
        padding: 10px;        
        background: #123456;
        color: #FFFFFF;
        -webkit-animation-name: displayHW;
        -webkit-animation-duration: 2s;
        animation-name: displayHW;
        animation-duration: 2s;        
    }
    .sourcecode {
        padding: 10px;
        color: #123456;
        background: #FFFFFF;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
                    0 25px 50px 0 rgba(0, 0, 0, 0.1);

    }
